<section class="login-container">

  <section class="left-box">
    <div class="login-slide">
      <img src="../img/slide4.jpg" alt="" />
    </div>
  </section>

  <section class="right-box">
    <div class="input-box">

      <div class="input-field" type="text" name="name" value="" contenteditable><span class="signup-words">Username</span></div><br>
      <div class="input-field" type="text" name="name" value="" contenteditable><span class="signup-words">Password</span></div><br>
      <div class="input-button" type="button" name="button"><span class="button-words">Log in</span></div>

      <hr class="style-eight"> or
    </div>
    <div class="lower-input-box">

        <p>
        Don't have an account? <span class="login-words">Sign up.</span>
        </p>

    </div>

  </section>

</section>

<footer></footer>
