<navbar></navbar>
<section class="user-container">

    <section class="user-feed-info">
      <!-- <div class="profile-pic-box" ng-repeat="data in userPicFeed.photo" ng-if="first">
        <img class="user-pic" ng-src="{{data.photo}}">
      </div> -->

      <div class="profile-info">
        <h3><p>{{userPicFeed.username}}</p></h3>
        <p>{{userPicFeed.name}}</p>

      </div>

    </section>

    <section class="gallery" ng-repeat="data in userPicFeed.photo | orderBy: 'createdAt' : true">
      <div>
        <img class="gallery-pic" ng-src="{{data.photo}}">
      </div>

    </section>

    <section class="button-box">
      <button class="load-button" type="button" name="button">Load More</button>
    </section>

<footer></footer>
</section>
