.mainfeed-container{
  width: 590px;
  height: auto;
  margin: auto;
  text-align: center;
}
.user-info{
  margin-top: 60px;
  width: auto;
  height: 60px;
  border: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*display: flex;
  justify-content: space-around;*/
}
.feed-user-info{
  float: left;
  padding: 20px 0px 0px 20px;

}
.feed-user-counter{
  float: right;
  padding: 20px 20px 0px 0px;
}
.filler-img img{
  margin: auto;
  width: 600px;
  height: auto
}
.profile-pic{
  
}
.lower-box{
  margin-bottom: 60px;
  margin-top: -4px;
  width: auto;
  height: auto;
  padding: 16px 20px 18px 20px;
  text-align: left;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.meta-box{
  display: flex;
  flex-direction: row;
  border-top: 1px solid lightgray;
  margin-top: 9px;
}

.comments{
  margin: 0px;
  padding-bottom: 12px;
}
.hearts{
  margin: 0px;
  padding-bottom: 12px;
}
.button{
  border: 0px solid white;
  background-color: white;
  font-size: 16px;
  font-family: Source Sans Pro;
  margin: 16px 20px 0px 0px;
  padding: 0px;
}
.comment-box{
  font-size: 16px;
  height: 25px;
  width: 460px;
  margin: 13px 0px 0px 0px;
  border: 0px solid white;
}
strong{
  margin: 0px;
  padding: 0px;
}
